  * {
    box-sizing: border-box;
  }

  
  body {
    background-image: url(/Users/eduardog/Projects/country_search/website-images/jasper-boer-KS70QiSOecM-unsplash.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* Set a background color that will be displayed
         while the background image is loading */
    
    }
  

  .afterStart {
    background-color: white;
  }

  body {
    margin: 0%;
  }


  /* whole navigavtion bar  */
  .nav {
    background-color: #C9CDFF;
    list-style: none;
    padding: 2%;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    width: 100%;
  }

  .hideNav{
    display: none;
  }

  .hide, .rhide {
    display: none;
  }
  /* tittle on top left */

  nav h2 {
    margin: 0%; 
  }

  /* the link bar on the top right */

  .navbar {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center 
  }

  /* list of links on the top right */

  li {
    margin: 0px 3px;
    
  }

  .maininfo {
    display: flex;
    margin: 5%;
    flex-direction: column;
    padding: 1%;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .apinfo {
    display: flex;
    margin: 5%;
    border-radius: 5px;
    justify-content: space-evenly;
  }

  .pinfo{
    background-color: white;
    margin-left: 1px;
    width: 20%;
    text-align: left;
    padding: 2%;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .start {
    display: flex;
    /* margin: 27%; */
    flex-direction: column;
    padding: 1%;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
  }
  
  #stBtn {
    padding-bottom: 4%;
  }

   main section div h2 {
    display: flex;
  }

  .startbutton {
    width: 20%;
    height: 40px;
    padding: inherit;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .restartBox {
    display: flex;
    justify-content: center;
    margin: 5%;
  }

  .search {
    background-color:#e4e2e2d5;
    border: none;
    color: black;
    padding: 3px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    margin-left: 35px;
  }

  .search:hover{
    cursor: pointer;
    background-color: #c7c2c2d3;
  }

  .restartButton {
    background-color:#f3f0f0d3;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .startbutton:hover{
    cursor: pointer;
    background-color: #d1ceceda;
  }

  .restartButton:hover{
    cursor: pointer;
    background-color: rgba(206, 205, 205, 0.733);
  }

  .searchFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .searchBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f4f4;
    margin: 5% 10% 5% 10%;
    padding: 3%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .resultsBlock {
    display: flex;
    justify-content: space-around;
  }

  #countryls {
    width: 200px;
    font-size: 15px;
    
  }

  /* This class covers the results of the top three API's  */
  .apWikiResults, .apWeatherResults {
    margin: 2%;
    width: 27%;
    background-color: #f8f4f4;
    text-align: center;
    padding: 2%;
    height: 0%;
    border-radius: 5px;
    margin-top: 10%;
  }

  .apNewsResults {
    margin: 2%;
    width: 27%;
    background-color: #f8f4f4;
    text-align: center;
    padding: 2%;
    height: 656px;
    border-radius: 5px;
    margin-top: 10%;
    overflow-y:auto
  }


  /* covers results from the youtuberesults */
  .youTubeResults{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .yResults {
    margin-top: 5%;
    width: 30%;
    background-color: #f8f4f4;
    text-align: center;
    padding: 2%;
    margin: 1%;
    border-radius: 5px;
  }

  #wikiResults {
    font-size: 15px;
  }

  #wikiImage {
    width: 100%;
    height: auto;
  }

  #newsResults {
    list-style: none;
    text-align: left;
  }
  
  .videoImage{
    width: 100%;
  }